<script>
/*
const id = req.params.id
Makale.findByIdAndUpdate(id,{
title : "deneme"
}).then((result)=>{
console.log("Title ayarlandı")
})
*/
</script> 
<style>
input{padding:5px;}
  textarea{
  resize:none;
  width:50%;
  height:25vh;
  }
</style>
<head>
<meta charset="utf-8" />
<link rel="icon" href="https://glitch.com/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/style.css" />
<link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet"> 
<script src="script.js"></script>
<title><%= haberler.title %></title>
</head>
<body>
<div id="navbar" style="width:100%" class="fixed">
<div class="topnav" id="myTopnav">
  <a class="logo" id="navbar-text" href="/">SMTALBPG</a>
  <a href="/" class="active">Anasayfa</a>
  <a onclick="projects()">Projeler</a>
  <a onclick="group()">Ekip</a>
  <a onclick="about()">Hakkımızda</a>
  <a onclick="kurumsal()">Kurumsal</a>
  <a href="javascript:void(0);" class="icon" onclick="navOpen()">
  <i class="fa fa-bars"></i>
  </a>
</div>
</div><br><br><br>
<div class="container">
<form method="POST" action="/editNew/<%=haberler._id %>">
<input type="text" value="<%=haberler.title%>" id="title" name="title"> 
<input type="text" value="<%=haberler.short%>" id="short" name="short"><br><br>
<input type="text" value="<%=haberler.foto%>" id="foto" name="foto" placeholder="Fotoğraf"><br>
<p>Uzun yazı</p>
<textarea id="long" name="long"><%=haberler.long%></textarea><br><br>
<input type="text" value="<%=haberler.link%>" id="link" name="link" placeholder="link"><br>
<p>Ekstra açıklama</p>
<textarea id="longdesc" name="longdesc"></textarea><br><br>
<input type="submit">
</form>
</div>
</body>
